body{
    background-color:rgb(243, 161, 10);
}
#head{
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
margin: auto;
width: 200px;
text-align: center;
color: brown;   
background-color: turquoise;
font-style: italic;
font-weight: bold;
border: hsl(0, 88%, 10%); border-radius: 50px; border-end-end-radius:100px ; border-end-start-radius: 100px;
}

.color{
background-color: rgba(150, 95, 56, 100);
text-transform: capitalize;
color: rgb(15, 15, 170);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: large;
font-style: normal;
border-radius: 20px;
border-top-left-radius: 500px;
}
.bor{
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: auto;
width: 50%;
text-align: center;
text-align: start;
color: blanchedalmond;
background-color: rgb(83, 83, 168);
border: rgb(230, 17, 35) solid ;
border-top-width: 20px;
border-bottom-width: 20px;
border-left-style: dotted;
border-left-color: greenyellow;
border-left-width: 10px;
border-right-style: dotted;
border-right-width: 10px;
border-right-color: greenyellow;
border-radius: 20px;
border-end-start-radius: 2px;
border-top-right-radius: 2px;
}
#ls, .cl{
background-color: #7a784f;
font-weight: bolder;
border: mediumspringgreen;
border-style: solid;
border-width: 20px;
border-top-color: mediumvioletred;
border-top-width: 50px;
border-bottom-color: mediumvioletred;
border-radius: 29px;
border-right-width: 5px;
}